{% extends 'base.html.twig' %}

{% block title %}Edit Account{% endblock %}

{% block body %}
    <h1 class="text-center" >Edit Account</h1>
    <div class="mx-auto" style="width: 750px;">
        <div class="text-center" >
            
    {{ include('account/_form.html.twig', {'button_label': 'Update'} , {'button_label': 'Withdraw'}) }}
    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
    {{ include('account/_delete_form.html.twig') }}
</div>
    <a href="{{ path('account_index') }}">back to list</a>

    
</div>
    </div>
{% endblock %}
